.link{
    padding: var(--paddingMob);
    background-color: var(--textColor);
    color: var(--main);
    font-size: var(--sm);
    font-weight: bold;
    border-radius: 5px;
    margin-block: 10px;
}

.link:hover{
    background-color: var(--main);
    color: var(--textColor);
    border: 1px solid var(--textColor);
}