.bar{
    margin: var(--margin);
    display: flex;
}

.bdr{
    margin: var(--altMargin);
    display: flex;
    border-radius: 15px;
}

@media screen and (max-width: 1024px) {
    .bar{display: none;}
}

@media screen and (max-width: 480px) {
    .bar{display: none;}
}