.list {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    align-content: center;
    gap: 25px;
}


@media screen and (max-width: 1024px) {
    .list{
        grid-template-columns: repeat(2, 350px);
    }
}

@media screen and (max-width: 480px) {
    .list{
        grid-template-columns: repeat(1, 350px);
    }
}