.cont{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.frsCont{
  padding-top: 15vh;
  gap: var(--gap);
}

.scnCont{
  gap: 30px;
}

.homeCont{
  height: 100%;
  padding-top: 15vh;
}

.trhCont{
  gap: var(--gap);
}

.about{
  gap: var(--gap);
}

@media screen and (max-width: 480px) {
  .scnCont{
      height: 100%;
      padding: 5px;  
  }

  .about{
    padding-top: 20%;
  }
}