.title{
    text-align: center;
    font-family: "aleg";
}

.titleLi:hover{
    color: green;
}

@media screen and (max-width: 1024px) {
    .title{
        font-size: var(--fontPlan) !important;
    }
}

@media screen and (max-width: 480px) {
    .title{
        font-size: var(--fontMob) !important;
    }
}