.box{
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--textColor);
}

@media screen and (max-width: 1024px) {
    .box{
        width: 350px;
    }
}

@media screen and (max-width: 480px) {
    .box{
        width: 350px !important;
    }
}