.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid var(--textColor);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    gap: 10px;
    margin: 20px 00px;
    transition: transform 0.3s ease;
}

.cont:hover{
    background-image: url("/image/black.jpg");
    transform: scale(1.1);
}