.btn{
    user-select: none;
    background: linear-gradient(90deg, var(--textColor), var(--altcolor)); 
    padding: var(--padding);
    border-radius: 10px;

}
.btn:hover{
    box-shadow: 1px 2px 1px black;
    background: linear-gradient(180deg, var(--altcolor), var(--textColor)); 
}
.btn:active{
    box-shadow: 2px 1px 1px black;
    scale: 1.1;
}

@media screen and (max-width: 1024px) {
    .btnMob{
        font-size: var(--fontPlan) !important;
    }
}

@media screen and (max-width: 480px) {
    .btnMob{
        font-size: var(--sm) !important;
    }
}